# PostgreSQL Configuration
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=linkian_queue
PG_SSLMODE=disable

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

# Socket Server
SOCKET_SERVER_URL=http://localhost:3000